body {
  body {
  background-color: #aa8f66;
}
h2 {
  color: #e6fdff;
  font-size: 100%;
  letter-spacing: 6px;
}
p {
  color: #e6fdff;
  fint-size: 200%;
}
ul {
  list-style-type: none;
  text-align: center;
  position: fixed;
  width: 100%;
}
li {
  float: left;
}
li a {
  padding: 10px;
  font-family: "Papyrus", Fantasy;
  border-style: dashed;
  color: #e6fdff;
  text-decoration-line: none;
}
li a:hover {
  background-color: beige;
  color: green;
}


}
